header {
  position: sticky;
  width: 100%;
  padding: 1.5rem 0;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: 3px solid var(--brand-1);
  color: var(--gray-2);
}

header .toggleDarkMode {
  position: relative;
  background-color: var(--gray-6);
  background-image: var(--toggleDarkMode);
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}

header .toggleDarkMode:hover {
  background-color: var(--gray-5);
}

header .toggleTheme {
  opacity: 1 !important;
}
