.priceFilter {
  padding: 1rem 0;
}
.priceTitle {
  justify-content: space-between;
  font-size: 1.5rem;
}
.priceTitle p {
  font-size: 1.375rem;
}
.priceSliderContainer {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-top: 1rem;
}

.priceSliderContainer:hover {
  height: 30px;
  cursor: pointer;
}

.priceSliderContainer .bar {
  position: relative;
  width: 100%;
  height: 4px;
  transition: height 0.15s;
  background-color: var(--gray-3);
  border-radius: 10px;
}

.priceSliderContainer.dragging .bar,
.priceSliderContainer:hover .bar {
  height: 10px;
}

.priceSliderContainer .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: var(--brand-1);
  border-radius: 10px;
}

.priceSliderContainer .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: var(--gray-4);
  border-radius: 10px;
  display: none;
}

.priceSliderContainer.dragging .bar::before,
.priceSliderContainer:hover .bar::before {
  display: block;
}

.priceSliderContainer .bar .posIndicator {
  position: absolute;
  height: 200%;
  aspect-ratio: 1 / 1;
  top: -50%;
  background-color: var(--brand-1);
  left: calc(var(--progress-position) * 100%);
  transform: translate(-50%) scale(1);
  border-radius: 50%;
  z-index: 1;
}

.priceSliderContainer .bar .posIndicator::after {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.priceSliderContainer.dragging .bar .posIndicator::after,
.priceSliderContainer:hover .bar .posIndicator::after {
  opacity: 1;
}
